.footer{
    background-color: #202020;

    @media (max-width: 768px){
        height: 342px;
    }
    @media (min-width: 768px){
        height: 408px;
    }
    @media (min-width: 1200px){
        height: 530px;
    }
}

.link_footer--info{
    border-radius: 139px;
    border: 1px solid  #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px){
        width: 342px;
        height: 72px;
        gap: 20px;
    }
    @media (min-width: 768px){
        width: 714px;
        height: 150px;
        gap: 45px;
    }
    @media (min-width: 1200px){
        width: 914px;
        height: 192px;
    }
}

.title-footer{
    margin: 0;
    color: #FFF;
text-align: center;
font-weight: 700;
@media (max-width: 768px){
    font-size: 20px;
}
@media (min-width: 768px){
    font-size: 48px;
}
}

.conteiner_text-arrow{
    display: flex;
    align-items: center;
    gap: 24px;
    @media (max-width: 768px){
        margin-top: 4px;
    @media (min-width: 768px){
         margin-top: 17px;
}
}
}

.text_footer{
    margin: 0;
    color: #FFF;
font-weight: 500;

@media (max-width: 768px){
    font-size: 15px;
@media (min-width: 768px){
    font-size: 24px;
}
}
}

.copyright{
    color: #FFF;
font-size: 16px;
font-weight: 500;
margin: 0;
}

.social_network{
    display: flex;
    align-items: center;
    gap: 21px;
    flex-direction: column;

    @media (max-width: 768px){
        margin-top: 113px;
    }
    @media (min-width: 768px){
        margin-top: 60px;
    }
    @media (min-width: 1200px){
        margin-top: 163px;
    }
}