.section_good-disign{
    background-image: url(../images/rectangle-8.jpg);
    background-size: cover;
    width: 100%;
    position: relative;

    @media (max-width:768px){
        height: 498px;
    }

    @media (min-width:768px){
        height: 800px;
    }
}
.section_good-disign::before{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(60, 60, 60, 0.5);
    background-size: cover;
    width: 100%;
    z-index: 0;

    @media (max-width:768px){
        height: 498px;
    }

    @media (min-width:768px){
        height: 800px;
    }
    
    
}

.text--good-disign{
    color: #FFF;
z-index: 1;
text-align: center;
margin: 0;

@media (max-width:768px){
    font-size: 24px;
}
@media (min-width:768px){
font-size: 48px;
}
}